head
	link(
		href="../css/style.css"
		type="text/css"
		rel="stylesheet"
	)

	link(
		href="../css/response.css"
		type="text/css"
		rel="stylesheet"
	)
	
	script(
		src="../js/jquery-3.3.1.min.js"
	)

	script(
		src="../js/control-style.js"
	)
	script(
	src="../js/common.js"
	)